<div class="containerX">
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10px">
    <div class="item item-1 bg-primary" style="padding:10px; color:white;" *ngFor="let todo of employees | async">
      <span class="label label-default">Name:</span> {{ todo.name }}
      <br>
      <span class="label label-default">Location:</span> {{todo.location}}
      <br>
      <span class="label label-default">Email :</span>{{todo.email}}
    </div>
  </div>
</div>
<div class="container">
  <p-dataTable [value]="employees | async">
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="location" header="Location" [sortable]="true"></p-column>
    <p-column field="email" header="Email" [sortable]="true"></p-column>
  </p-dataTable>
</div>